---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
  header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }

  @media screen and (min-width: 636px) {
    header nav {
      justify-content: flex-start;
    }
  }
</style>